.movie{
    width: 100%;
    background-color: #0008;
}

.movie video{
    margin: auto;
    width: 100%;
    height: 400px;
}

/* 上半部開始 */
.container{
    width: 1200px;
    margin: auto;
    padding-top: 30px;
}

.container .slogn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.container .slogn img{
    border-radius: 10px;
}

.container .slogn .txt h1{
    width: 300px;
    font-size: 28px;
    color: #fff;
    line-height: 2;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    margin: 20px;
}

.container .slogn .txt p{
    width: 300px;
    color: #fff;
    line-height: 2;
    margin: 0 20px;
}

.container .aboutfood{
    display: flex;
    justify-content: space-evenly;
}

.container .aboutfood .txt h2{
    width: 300px;
    font-size: 22px;
    color: #fff;
    line-height: 2;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    margin: 20px;
    text-align: right;
}

.container .aboutfood .txt p{
    width: 300px;
    color: #fff;
    line-height: 2;
    margin: 20px;
    text-align: right;
}

.container .slogn img{
    width: 500px;
    height: 600px;
}

.container .aboutfood img{
    width: 500px;
}

/* 中間大圖區 */
.center-pic{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-pic img{
    width: 100%;
    vertical-align: middle;
}

.center-pic .beer{
    width: 100%;
    vertical-align: middle;
    position: relative;
}

.center-pic .bubbles{
    width: 100%;
    vertical-align: middle;
    position: absolute;
    top: 55%;
    left: 0;
}

.center-pic .bbq{
    width: 100%;
    vertical-align: middle;
    position: absolute;
    top: 80%;
}

/* 中間文字區 */
.center-pic .beer .bubbles .center-txt{
    width: 100%;
    background-image: url('../images/about_black.svg');
    background-size: cover;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-pic .beer .bubbles .center-txt h3{
    width: 150px;
    font-size: 25px;
    padding-top: 20px;
}

.center-pic .beer .bubbles .center-txt p{
    width: 500px;
    font-size: 20px;
    line-height: 1.5;
    padding-top: 20px;
    align-self: flex-end;
}

.center-pic .beer .bubbles .center-txt a{
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    background-color: #b28850;
    border-radius: 5px;
    color:#333;
    box-shadow: 3px 3px 10px #000;
}

.center-pic .beer .bubbles .center-txt img,
.center-pic .beer .bbq .center-txt img{
    width: 70px;
    margin: 0 50px;
    animation: up 3s linear infinite alternate;
}

/* 烤肉上方文字 */
.center-pic .beer .bbq .center-txt{
    width: 100%;
    background-image: url('../images/about_blackdown.svg');
    background-size: cover;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-pic .beer .bbq .center-txt h3{
    width: 150px;
    font-size: 25px;
    padding-top: 20px;
}

.center-pic .beer .bbq .center-txt p{
    width: 500px;
    font-size: 20px;
    line-height: 1.5;
    padding-top: 20px;
    align-self: flex-end;
}

.center-pic .beer .bbq .center-txt a{
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    background-color: #b28850;
    border-radius: 5px;
    color:#333;
    box-shadow: 3px 3px 10px #000;
}

/* 下半部Our story */
.story-wrap{
    width: 1200px;
    margin: auto;
    padding-top: 55%;
}

.story-wrap h2{
    color: #fff;
    font-size: 28px;
    text-align: center;
    padding: 50px;
    text-shadow: 3px 3px 10px #000;
}

.story-wrap .pic{
    width: 600px;
    margin: auto;
}

.story-wrap img{
    width: 100%;
    vertical-align: middle;
}

.story-wrap .circle{
    width: 1200px;
    margin: auto;
    display: flex;
justify-content: center;
}

.story-wrap .circle .btn{
    width: 100px;
    height: 100px;
    background-color: #b28850;
    border-radius: 50%;
    margin: 20px 50px;
    position: relative;
}

.story-wrap .circle .btn span{
    text-decoration: none;
    color: #000;
    position: absolute;
    top: 40%;
    left: 30%
}

#switch:checked ~ .story-wrap .circle label[for="switch"] ul li{
    background-color: #fff;
}

#switch-two:checked ~  .story-wrap .circle label[for="switch-two"] ul li{
    background-color: #fff;
    }

#switch:checked ~ .story-wrap .staff{
    display: block;
}

#switch-two:checked ~  .story-wrap .staffoneman{
    display: block;
}

#switch-two:checked ~  .story-wrap .staff{
    display: none;
}

#switch-two:checked ~  .story-wrap .staffoneman{
    display: block;
}

#switch,#switch-two{
    display: none;
}

.story-wrap .staffoneman{
    display: none;
}