.movie{
    width: 100%;
    background-color: #080A08;
}

.movie video{
    margin: auto;
    width: 100%;
    height: 400px;
}

/* 上半部開始 */
.container{
    max-width: 1200px;
    margin: auto;
    padding-top: 30px;
}

.container .slogn{
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.container .slogn .txt h1{
    max-width: 400px;
    font-size: 1.75rem;
    color: #fff;
    line-height: 1.75;
    margin: 20px 0;
    text-align: center;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.container .slogn .txt p{
    max-width: 400px;
    color: #fff;
    line-height: 2;
    margin: 20px 0;
    font-size: 1.1rem;
}

.container .aboutfood{
    display: flex;
    justify-content: space-evenly;
}

.container .aboutfood .txt h2{
    max-width: 400px;
    font-size: 1.75rem;
    color: #fff;
    line-height: 1.75;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    margin: 20px 0;
    text-align: center;
}

.container .aboutfood .txt p{
    max-width: 400px;
    color: #fff;
    line-height: 2;
    margin: 20px 0;
    font-size: 1.1rem;
}

.container .slogn img{
    max-width: 400px;
    margin-top: 20px;
}

.container .aboutfood img{
    width: 400px;
    margin-top: 20px;
}

.container .slogn img,
.container .aboutfood img{
    border-radius: 10px;
}
/* 啤酒分隔線 */
.little{
    padding: 50px;
    background-image: url(../images/about_littlebeer.png);
    background-repeat: repeat-x;
    margin-top: 50px;
}

/* Our story & timeline開始 */
.ourstory{
    min-width: 100%;
}
.ourstory .ourstory-title{
    color: #fff;
    text-align: center;
    font-size: 1.75rem;
    letter-spacing: 10px;
    text-shadow: 3px 3px 10px #000;
    margin: 50px 0;
}

.ourstory .timeline-box{
    max-width: 100%;
    background-image: url('../images/beer_bg.png');
}

.ourstory .timeline {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    border-left: 4px solid lightsalmon;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: #0005;
    color: #eee;
    margin: auto;
    line-height: 1.5;
    padding: 20px;
}

.ourstory .timeline .event h4 {
    font-size: 1.25rem;
    color: lightsalmon;
}
.ourstory .timeline .event p {
    font-size: 1.1rem;
}

.ourstory .timeline .event {
    border-bottom: 1px dashed lightskyblue;
    padding-bottom: 20px;
    margin-bottom: 30px;
    position: relative;
}

.ourstory .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.ourstory .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}
.ourstory .timeline .event:before {
    min-width: 120px;
    font-size: 1rem;
    text-align: right;
    color: lightgrey;
}

.ourstory .timeline .event:after {
    content: "";
    height: 12px;
    width: 12px;
    box-shadow: 0 0 0 4px lightsalmon;
    background: #eee;
    border-radius: 50%;
    top: 5px;
    left: -28px;
}

/* 時間線日期區 */
.ourstory .timeline .spring:before{
    content:'2021/04/22';
    }
    .ourstory .timeline .classic:before{
        content:'2021/10/08';
    }
    .ourstory .timeline .summer:before{
        content:'2022/02/01';
    }
    .ourstory .timeline .newbeer:before{
        content:'2022/07/07';
    }
    .ourstory .timeline .autumn:before{
        content:'2021/10/08';
    }
    .ourstory .timeline .winter:before{
        content:'2023/02/28';
    }

/* 時間線結束 */
/* 經營者區開始 */
.owned{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.owned h3{
    max-width: 100%;
    color: #fff;
    margin: 50px auto;
    text-align: center;
    font-size: 1.75rem;
    letter-spacing: 10px;
    text-shadow: 3px 3px 10px #000;
}

.owned .owned-card{
    max-width: 100%;
    display: flex;
    margin: 20px auto;
}

.owned .dad{
    flex-direction: row-reverse;
}

.owned .owned-card .pic{
    max-width: 40%;
}
.owned .owned-card .pic img{
    max-width: 100%;
    border-radius: 6px;
}
.owned .owned-card .txt{
    max-width: 60%;
    margin: 30px;
    align-self: center;
}

.owned .owned-card .txt p{
    color: #fff;
    font-size: 1.25rem;
    line-height: 2;
}

.owned .owned-card .txt p span{
    color: #fff;
    font-size: 1.1rem;
    padding: 8px;
    line-height: 2;
}

.andybyphone,
.johnbyphone{
    display: none;
}

#theDiv{
    border: 1px solid #ccc;
    color: #aaa;
    padding: 5px;
    font: 14px Tahoma;
    background-color: #fff;
    position: absolute;
    display: none;
}
/* 加入我們 開始 */
.joinus{
    width: 100%;    
    margin: 120px auto 50px;
    display: flex;
    justify-content: center;
    background-color: #b28850;
}

/* .joinus .joinus-title{
    max-width: 100%;
    color: #fff;
    margin: -80px 0;
    text-align: center;
    font-size: 1.75rem;
    letter-spacing: 10px;
    text-shadow: 3px 3px 10px #000;
} */

.joinus .pic{
    max-width: 50%;
    vertical-align: middle;
    object-fit: contain;
}

.joinus .txt{
    width: 45%;
    margin: 25px auto;
}

.joinus .txt h4{
    font-size: 1.75rem;
    color: #333;
    line-height: 2;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
}

.joinus .txt p{
    color: #333;
    font-size: 1.1rem;
    line-height: 2;
    margin: 20px 0 0;
}

/* RWD */
@media screen and (max-width:1024px){
    .container .slogn{
        flex-direction: column;
        align-items: center;
        padding: 0 5%;
    }
    
    .container .aboutfood{
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 5%;
    }
    
    .container .slogn img{
        max-width: 250px;
        display: block;
        margin:auto;
    }
    
    .container .aboutfood img{
        width: 300px;
        display: block;
        margin: auto;
    }
    
    /* 啤酒分隔線 */
    .little{
        padding: 50px;
        background-image: url(../images/about_littlebeer.png);
        background-repeat: repeat-x;
        margin: 5% 0;
    }
    
    .ourstory{
        display: none;
    }

    /* 經營者區開始 */
    .owned{
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    
    .owned h3{
        margin: 10px auto;
        align-items: center;
    }
    
    .owned .owned-card{
        flex-direction: column;
    }
    
    .owned .dad{
        flex-direction: column;
    }
    
    .owned .owned-card .pic{
        max-width: 60%;
        margin: auto;
    }
    .owned .owned-card .pic img{
        max-width: 100%;
        border-radius: 0;
    }
    .owned .owned-card .txt{
        max-width: 100%;
        padding: 2%;
        margin: 0;
        align-items: center;
    }
    
    .owned .owned-card .txt p:first-of-type{
        display: none;
    }

    .andybyphone,
    .johnbyphone{
        display: block;
        align-items: center;
    }

    /* 加入我們 開始 */
    .joinus{
        margin: 0 auto 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .joinus .pic{
        max-width: 100%;
        margin-bottom: 2%;
    }

    .joinus .txt h4{
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .joinus .txt{
        min-width: 75%;
        margin: auto;
        padding-bottom: 2%;
    }

    .joinus .txt p:nth-child(2),
    .joinus .txt p:nth-child(1){
        display: none;
    }
}

@media screen and (max-width:767px) {    
    /* 上半部開始 */
    .container .slogn{
        flex-direction: column;
        align-items: center;
        padding: 0 5%;
    }
    
    .container .aboutfood{
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 5%;
    }
    
    .container .slogn img{
        max-width: 250px;
        display: block;
        margin:auto;
    }
    
    .container .aboutfood img{
        width: 300px;
        display: block;
        margin: auto;
    }
    
    /* 啤酒分隔線 */
    .little{
        padding: 50px;
        background-image: url(../images/about_littlebeer.png);
        background-repeat: repeat-x;
        margin: 5% 0;
    }
    
    .ourstory{
        display: none;
    }

    /* 經營者區開始 */
    .owned{
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    
    .owned h3{
        padding: 2%;
        margin: 10px auto;
        align-items: center;
    }
    
    .owned .owned-card{
        flex-direction: column;
    }
    
    .owned .dad{
        flex-direction: column;
    }
    
    .owned .owned-card .pic{
        max-width: 60%;
        margin: auto;
    }
    .owned .owned-card .pic img{
        max-width: 100%;
        border-radius: 0;
    }
    .owned .owned-card .txt{
        max-width: 100%;
        padding: 2%;
        margin: 0;
        align-items: center;
    }
    
    .owned .owned-card .txt p:first-of-type{
        display: none;
    }

    .andybyphone,
    .johnbyphone{
        display: block;
        align-items: center;
        padding: 2%;
    }

    /* 加入我們 開始 */
    .joinus{
        margin: 0 auto 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .joinus .pic{
        max-width: 100%;
        margin-bottom: 2%;
    }

    .joinus .txt h4{
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .joinus .txt{
        min-width: 75%;
        margin: auto;
        padding-bottom: 2%;
    }

    .joinus .txt p:nth-child(1),
    .joinus .txt p:nth-child(2){
        display: none;
    }
}