/* google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Raleway:wght@400&display=swap');

.body,html{
    background-image: url(../images/web_bg.jpg);
    height: 100%;
    position: relative;
    font-family: "Noto Sans TC",Raleway,sans-serif,'Times New Roman', Times, serif;
    font-style: normal;
    overflow-x: hidden;
}

/* 漢堡選單開始 */
.burger-container{
    background-color: transparent;
    width: 40px;
    height: 40px;
    margin-top: 2.5%;
    margin-left: 50%;
    margin-left: 95%;
    border-radius: 25%;
    position: fixed;
    z-index: 3;
}

.burger-container .btn-open{
    position: relative;
    right: 45px;
    top: -30px;
    color: #fff;
    z-index: 3;
}

.burger{
    width: 40px;
    height: 40px;
    background-color: #B28850;
    margin: auto;
    position: relative;
    border-radius: 25%;
    z-index: 3;
}

.burger span{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    margin-bottom: 0;
    transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
    position: relative;
    transform: translate(5px,8px);
    inset: 0;
}

.burger span:nth-child(2),
.burger span:nth-child(3){
    margin-top: 7px;
}

#menu{
    display: none;
}

#menu:checked + .menu-list{
    width: 15px;
    height: 15px;
}

#menu:checked + label .burger span:nth-child(1){
    transform: translate(5px,12px) rotate(135deg);
    top: 5px;
    transition: top .3s ease-in-out, transform .3s ease-in-out ;
}

#menu:checked + label .burger span:nth-child(2){
    display: none;
}

#menu:checked + label .burger span:nth-child(3){
    transform: translate(5px,12px) rotate(-135deg);
    top: -4px;
    transition: top .3s ease-in-out, transform .3s ease-in-out ;
}

header .menu-list {
    background-image: url(../images/menubg.jpg);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: scaleY(0);
    transition: transform .3s ease-in-out;
    transform-origin: 50% 0;
    z-index: 2;
}

header .menu-list a{
    padding: 10px;
    text-decoration: none;
    font-size: 28px;
    color: #fff;    
    line-height: 2;
}

header .menu-list a:hover{
    color: #b28850;
}

header .menu-list .menu-logo{
    position: relative;
    right: 300px;
    top: 250px;
}

#menu:checked ~ .menu-list {
        transform: scaleY(1);
    }

/* 漢堡選單結束 */

/* 立即訂位開始 */
.booking-btn{
    position: fixed;
    right: 3%;
    top: 70%;
    z-index: 3;
}
.booking-btn img{
    width: 50px;
    height: 50px;
    animation: booking 3s ease infinite alternate;
}

.booking-btn a{
    width: 50px;
    text-decoration: none;
    color: #fff;
    writing-mode: vertical-lr;
    letter-spacing: 5px;
    text-shadow: 5px 5px 5px #b28850;
}

.booking-btn a:hover{
    font-size: 18px;
}
@keyframes booking{
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(90deg);
    }  
    100%{
        transform: rotateY(180deg);
    }
    }
/* 立即訂位結束 */

    /* 頂端logo與購物車開始 */
.top .logo {
    position: absolute;
    top: .5%;
    left: 10px;
    width: 200px;
    height: 100px;
    z-index: 1;
    }

.top .shopping-cart{
    position: absolute;
    right: 10%;
    top:5%;
    z-index: 1;
    }
    /* 頂端logo與購物車結束 */

/* 跑馬燈開始 */
.marquee{
    height: 30px;
    background-color: #fff;
    width: 100%;
    opacity: .6;
    text-align: center;
    line-height: 30px;
    margin: auto;
}

.marquee p{
    color: #333;
    animation: marquee 20s 0s infinite linear;
}

@keyframes marquee {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
/* 跑馬燈結束 */

/* 海報文字特效 */
@keyframes lights {
    0% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
    0 0 0.125em hsla(320, 100%, 60%, 0.3),
    -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
    1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    30% { 
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
    0 0 0.125em hsla(320, 100%, 60%, 0.5),
    -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 02),
    0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    40% { 
    color: hsl(230, 100%, 95%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
    0 0 0.125em hsla(320, 100%, 90%, 0.5),
    -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 02),
    0.25em 0.125em 0.125em hsla(200, 100%, 60%, 04);
    }
    70% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
    0 0 0.125em hsla(320, 100%, 60%, 0.5),
    0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
    -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 04);
    }
    100% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
    0 0 0.125em hsla(320, 100%, 60%, 0.3),
    1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
    -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
}

/* footer開始 */
footer {
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 175px;
    background-image: url(../images/footer_two.png);
    display: flex;
    justify-content: space-evenly;
}

.footer-pic img {
    width: 170px;
    bottom: 0px;
    padding-top:10px;
    top: 10px;
    left: 5%;
    display: block;
}

.footer a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 120px;
    margin: 0px 10px;
    font-size: 20px;
}

.footer ul li {
    display: inline;
}

.footer-icon {
    width: 300px;
    margin: 10px 0;
    position: relative;
    top: 20px;
    bottom: 20px;
    left: 20px;
}

.footer-icon span {
    color: #fff;
    font-size: 16px;
    position: absolute;
    right: 85px;
    bottom: 120px;
}

.footer-icon .facebook {
    position: relative;
    bottom: 5px;
    font-size: 25px;
}

.footer-icon .instagram {
    position: relative;
    top: 10px;
    font-size: 25px;
}

.warning-box {
    width: 100%;
    height: 75px;
    bottom: 0;
    position: fixed;
    background-color: #000;
}

.warning-box-txt {
    width: 100%;
    text-align: center;
}

.warning-box p {
    color: #eee;
    display: inline-block;
}

.warning-box .tibame {
    font-size: 14px;
    width: 20%;
}

.warning-box .drink {
    font-size: 50px;
    right: 15%; 
    line-height: 1.25;
    text-align: center;
}

.warning-box img{
    width: 60px;
    height: 60px;
    vertical-align: middle;
    margin: 0 10px;
}

.footer a:hover,
.footer-icon a:hover{
    color: #b28850;
}

.footer-icon a {
    color: #fff;
}