    /* 地址區開始 */
article{
    width: 1200px;
    position: relative;
    margin: auto;
}

article h1{
    color: #FFF;
    font-size: 100px;
    font-weight:bloder;
    letter-spacing: 5px;
    text-align: center;
    margin: 50px 0 ;
    text-shadow: 15px 15px 10px #000;
}

.miuking,.miuqueen{
    width: 600px;
    margin: 30px 8%;
}

.miuking .pic,
.miuqueen .pic{
    width: 500px;
    height: 300px;
}

.miuking .pic img,
.miuqueen .pic img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.miuking .txt,
.miuqueen .txt{
    width: 600px;
    color:#fff;
}

.miuking .txt h2,
.miuqueen .txt h2{
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    display: inline;
    text-shadow: 3px 3px 10px #000;
}

.miuking .txt h2::after,
.miuqueen .txt h2::after{
    content: '|';
}

.miuking .txt address,
.miuqueen .txt address{
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 1px;
    margin: 5px 10px;
    display: inline;
}

    /* 地址區結束 */
    /* 表單區開始 */
article form{
    width: 350px;
    height: 600px;
    color: #fff;
    font-size: 18px;
    background-color: #0008;
    border-radius: 2.5%;
    position: absolute;
    right: 15%;
    top: 23%;
    line-height: 2.5;
    padding: 20px;
}

article input,
article select,
article textarea{
    position: relative;
    right: -5%;
}

article button{
    position: absolute;
    right: 45%;
    bottom: 20%;
}
/* 表單區結束 */



