h1 {
    width: 100%;
    color: #FFF;
    font-size: 6.25rem;
    letter-spacing: 5px;
    text-align: center;
    margin: 50px 0;
    text-shadow: 15px 15px 10px #000;
}
/* 圖片跑馬燈區 */
.picmarquee{
    width: 100%;
    padding: 50px 0;
    margin: auto;
}

.picmarquee .view{
    width: 100%;
    overflow: hidden;
    background-color: #0008;

}

.picmarquee .view .pic-container{
    width: 1200px;
    margin: auto;
    display: flex;
}

.picmarquee .view .pic-container{
    animation: marquee 20s -1s infinite linear;
}

.picmarquee .view .pic-container .pic{
    width: 300px;
    margin: 0 5px;
    border: 3px solid #b28850;
}

.picmarquee .view .pic-container .pic img{
    width: 300px;
    height: 200px;
    vertical-align: middle;
}

@keyframes marquee {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

/* 經典啤酒區 */

.classic-beer{
    margin: 30px auto;
    max-width: 1200px;
}

.classic-beer .title{
    width: 300px;
    margin: 0 auto;
    position: relative;
}

.classic-beer .title .pic img{
    display: inline-block;
    margin: auto;
}

.classic-beer .title .txt{
    font-size: 1.3rem;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 40%;
    left:0;
    right: 0;
    bottom: 0;
} 

.classic-beer .title .tag span{
    color: #fff;
    display: block;
    position: absolute;
    inset: 0;
    margin: auto;
    text-align: center;
}

.classic-beer .beer-container{
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.classic-beer .beer-container .beer{
    position: relative;
}

.classic-beer .beer-container .beer .pic img{
    max-width: 100%;
    /* width: 150px; */
    /* height: 400px; */
    vertical-align: middle;
    transition: 1.5s;
}

.classic-beer .beer-container .beer .txt{
    writing-mode: vertical-lr;
    position: absolute;
    top: 30%;
    left: 30%;
    display: block;
}

.classic-beer .beer-container .beer:hover img{
    opacity: .2;
    transition: .5s;
}

.classic-beer .beer-container .beer .name{
    color: #fff;
    font-size: 1.25rem;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.classic-beer .beer-container .beer .txt i{
    text-align: left;
    font-size: 1.5rem;
    border-radius: 10px;
    opacity: 0;
    transition: .5s;
}

.classic-beer .beer-container .beer .txt h3{
    display: inline-block;
    color: #fff;
    font-size: 1.25rem;
    transition: .3s;
}

.classic-beer .beer-container .beer .txt p{
    text-align: right;
    color: #fff;
    font-size: 1rem;
    margin: 10px;
    padding-top: 40px;
    transition: .3s;
}

.classic-beer .beer-container .beer:hover i{
    color: #ffe75f;
    opacity: 1;
    transition: .5s;
}

.classic-beer .beer-container .beer:hover .name{
    text-shadow: 3px 3px 10px #ffe75f;
}


.classic-beer .beer-container .beer .txt span{
    writing-mode: horizontal-tb;
}


/* beer按鈕 */
.beer-btn{
    display: none;
    max-width: 100%;
    text-align: center;
    margin: 2.5% 0 0;
    color: #b28850;
}
.beer-btn i{
    display: inline-block;
    margin: 0 3%;
    font-size: 1.25rem;
}

/* 美味料理區 */

.delicious-food{
    margin: 30px auto;
}

.delicious-food .title{
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}

.delicious-food .title .pic img{
    display: block;
    margin: auto;
}

.delicious-food .title .txt{
    font-size: 1.3rem;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 40%;
    left:0;
    right: 0;
    bottom: 0;
}

.delicious-food .title .tag span{
    color: #fff;
    display: block;
    text-align: center;
    position: absolute;
    inset: 0;
    margin: auto;
}

.delicious-food .btn{
    border: 2px solid #b28850;
    max-width: 30%;
    padding: 10px;
    margin: 10px auto 20px;
    border-radius: 5px;
}

.delicious-food .btn a{
    font-size: 1rem;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #b28850;
}

/* 手機版菜單 */
.delicious-food .phonemenubtn{
    border: 2px solid #b28850;
    max-width: 30%;
    padding: 10px;
    margin: 10px auto 20px;
    border-radius: 5px;
    display: none;
}

.delicious-food .phonemenubtn a{
    font-size: 1rem;
    padding: 3%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #b28850;
    display: none;
}

.delicious-food .phonemenubtn a p{
    display: none;
}

/* 手機菜單彈窗 */
    .delicious-food .box {
        display: none;
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: #0008;
        justify-content: center;
        align-items: center;
    }

    .delicious-food .box .box-content {
        width: 100%;
        line-height: 1.5;
        background-color: #C3C3D6;
        padding: 3%;
        border-radius: 6px;
        box-shadow: 0 2px 10px #000;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .delicious-food .box .close-box{
        background-color: transparent;
        color: #fff;
        width: 50px;
        padding: 5px;
        border: 0;
        border-radius: 6px;
        font-size: 1rem;
        text-align: center;
        position: absolute;
        top: 70%;
        right: 49%;
        cursor: pointer;
    }
/* 手機版菜單結束 */

.delicious-food .btn:hover{
    background-color: #000;
    scale: 1.1;
    transition: .3s;
}
.delicious-food .btn:hover a{
    color: #ffe75f;
    transition: .3s;
}
/* 內用菜單正面 */
.delicious-food .menu-box{
    width: 800px;
    margin: 0 auto 50px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.delicious-food .menu-box .menu{
    width: 435px;
    height: 670px;
    position: relative;
    padding:10px 0 30px;
}

.delicious-food .menu .front{
    width: 100%;
    height: 100%;
    position: relative;
    transform: perspective(1200) rotateY(0deg) translateX(0px);
    transition: 1.5s;
    backface-visibility:hidden;
}

.delicious-food .menu-box .menu .front img{
    width: 100%;
    vertical-align: middle;
}

.delicious-food .menu-box .front .logo img{
    width: 300px;
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: 15%;
    right: 0;
    bottom: 0;
}

.delicious-food .menu-box .front p{
    color: #333;
    font-weight: bold;
    position: absolute;
    top: 50%;
}

.menu-box .menu .front p::before{
    content: '————————————————';
}
.menu-box .menu .front p::after{
    content:'———————';
}

.menu-box .menu .front .slogn{
    width: 100%;
    position: absolute;
    top: 85%;
    background-color: #0008;
    padding: 15px 0 15px;
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
}
.menu-box .front .slogn i{
    color: #b28850;
}

.menu-box .menu .pageone{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0 30px;
    transform: perspective(1200px) rotateY(0deg);
    opacity: 0;
    transition: 2s;
}

.menu-box .menu .pagetwo{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0 30px;
    opacity: 0;
    transition: s;
}

.menu-box .menu .pageone img,
.menu-box .menu .pagetwo img{
    vertical-align: middle;
}

/* 菜單文字調整 */
.menu-box .menu .pageone ul,
.menu-box .menu .pagetwo ul{
    position: absolute;
    inset: 0;
}

.menu-box .menu .pageone ul li,
.menu-box .menu .pagetwo ul li{
    font-size: 1.3rem;
    padding:20px 0 10px 20px;
}

.menu-box .menu .pageone ul li span,
.menu-box .menu .pagetwo ul li span{
    font-size: 1rem;
}

.menu-box .menu .pageone ul li i,
.menu-box .menu .pagetwo ul li i{
    font-size: 1rem;
    line-height: 2.5;
    padding-left: 20px;
}

.menu-box .menu .pageone ul li a{
    color: #333;
    text-decoration: none;
}

/* 菜單翻面 */
.menu-box:hover .front{
    transform: perspective(1200px) rotateY(-180deg) translateX(360px);
    transition: 2s;
}

.menu-box:hover .pageone{
    transform: perspective(1200px) rotateY(-360deg) translateX(-420px);
    opacity: 1;
    transition: 1.5s;
}

.menu-box:hover .pagetwo{
    opacity: 1;
    transition: 1.5s;
}



@media screen and (max-width:1024px) {
    h1 {
        padding: 20px;
        font-size: 3rem;
        margin: 10px 0;
    }

        /* 經典啤酒區 */
        .classic-beer .title,
        .classic-beer .title txt,
        .classic-beer .title .pic img{
            display: none;
        }
    /* 美味料理 */

    .delicious-food .title .pic img,
    .delicious-food .title .txt,
    .delicious-food .title .tag span,
    .delicious-food .menu-box{
        display: none;
    }

    .delicious-food .btn{
        border: 2px solid #b28850;
        max-width: 30%;
        padding: 10px;
        margin: 10px auto 20px;
        border-radius: 5px;
    }
    
    .delicious-food .btn a{
        font-size: 1rem;
        padding: 3%;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #b28850;
    }

    .delicious-food .phonemenubtn,
    .delicious-food .phonemenubtn a{
        display: block;
    }
    
     /* beer按鈕 */
    .beer-btn{
        display: block;
        max-width: 100%;
        text-align: center;
        margin: 1.5% 2.5% 0;
        padding: 2%;
        color: #b28850;
    }
    .beer-btn i{
        display: inline-block;
        margin: 0 5%;
        font-size: 1.25rem;
    }
    /* 手機菜單彈窗 */
    .delicious-food .box {
        display: none;
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: #0008;
        justify-content: center;
        align-items: center;
    }

    .delicious-food .box .box-content {
        width: 60%;
    }

    .delicious-food .box .close-box{
        top: 74%;
        right: 48%;
    }
}
@media screen and (max-width:767px) {

    h1 {
        padding: 20px;
        font-size: 3rem;
        margin: 10px 0;
    }
    
    /* 經典啤酒區 */
    .classic-beer .title,
    .classic-beer .title txt,
    .classic-beer .title .pic img{
        display: none;
    }
    /* 美味料理 */

    .delicious-food .title .pic img,
    .delicious-food .title .txt,
    .delicious-food .title .tag span,
    .delicious-food .menu-box{
        display: none;
    }

    .delicious-food .btn{
        border: 2px solid #b28850;
        max-width: 30%;
        padding: 10px;
        margin: 10px auto 20px;
        border-radius: 5px;
    }
    
    .delicious-food .btn a{
        font-size: 1rem;
        padding: 3%;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #b28850;
    }

    .delicious-food .phonemenubtn,
    .delicious-food .phonemenubtn a{
        display: block;
    }

    /* beer按鈕 */
    .beer-btn{
        display: block;
        max-width: 100%;
        text-align: center;
        margin: 1.5% 2.5% 0;
        padding: 2%;
        color: #b28850;
    }
    .beer-btn i{
        display: inline-block;
        margin: 0 5%;
        font-size: 1.25rem;
    }

    /* 手機菜單彈窗 */
    .delicious-food .box {
        display: none;
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: #0008;
        justify-content: center;
        align-items: center;
    }

    .delicious-food .box .box-content {
        width: 60%;
    }

    .delicious-food .box .close-box{
        top: 72%;
        right: 45%;
    }

}