/* 首頁banner開始 */
.top{
    width: 100%;
    height: 450px;
    background-image: url(../images/index_bg.jpg);
    background-size: cover;
    position: relative;
}
.top-mask{
    background-color: #0009;
    width: 100%;
    height: 450px;
    position: absolute;
}

.top .logo {
    position: absolute;
    top: .5%;
    left: 10px;
    width: 200px;
    height: 100px;
}

.top .shopping-cart{
    position: absolute;
    top: 5%;
    right: 10%;
}

.top .top-banner-txt{
color: #fff;
font-size: 48px;
letter-spacing: 4.8px;
text-align:right;
position: absolute;
bottom: 30%;
right: 20%;
line-height: 189.023%;
text-shadow: 3px 3px 10px #b28850;
}

/* 首頁第二張大啤酒圖開始 */

.center-banner{
    width: 100%;
    height: 1100px;
    background-image: url(../images/index_centerbeer.png);
    background-size: cover;
    position: relative;
}

.center-banner .center-banner-txt{
color: #FFF;
font-size: 48px;
line-height: 189.023%; /* 90.731px */
letter-spacing: 50px;
writing-mode: vertical-lr;
position: absolute;
left: 20%;
top: 20%;
text-shadow: 3px 3px 10px #000;
}
/* 首頁第二張大啤酒圖結束 */

/* 活動卡片區開始 */
.news{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.news h1{
    color: #B28850;
    margin: 50px 0;
    text-align: center;
    font-size: 28px;
    letter-spacing: 10px;
    text-shadow: 3px 3px 10px #000;
}

.news-card-container{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.news-card{
    box-sizing: border-box;
    width: 300px;   
    height: 300px;
    margin: 18px;
    border-radius: 2%;
    border: 5px solid #B28850;
    position: relative; 
}

.news-card a{
    text-decoration: none;
}

.news-card .card-txt{
    color: #fff;
    font-size: 18px;
    padding: 20px 10px;
    line-height: 2;
    text-align: center;
}

.news-card:hover .card-txt{
    color: #fa0;
    text-shadow: 3px 3px 10px #000;
}

.news-card .card-pic{
    overflow: hidden;
}

.news-card::after{
    content: '';
}

.news-card .card-pic img{
    width: 100%;
    transform: scale(1);
    transition: 2s;  
}

.news-card:hover img{
    transform: scale(1.3);
}

.news-card .tag{
    width: 75px;
    height: 15px;
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 64%;
    left: 5px;
}

.news-card:hover .tag{
    color: #FFE75F;
    text-shadow: 3px 3px 10px #000;
}
/* 活動卡片區結束 */

    /* 活動卡片區按鈕 */
.news-card-container .arrow{
    width: 50px;
    height: 50px;
    }
    
.arrow .arrow-left,
.arrow .arrow-right{
    position: absolute;
    color:#B28850;
}

.arrow .arrow-left{
    top:45%;
    left: 5%;
}

.arrow .arrow-right{
    top:45%;
    right: 4.5%;
}

.arrow-left .fa-solid,
.arrow-right .fa-solid{
    font-size: 50px;
}
    /* 活動卡片區按鈕結束 */

/* 首頁影片區 */
.draft-beer{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.draft-beer-pic img{
    width: 260px;
    height: 150px;
    display: block;
}

.draft-beer-txt h2{
    font-size: 18px;
    position: absolute;
    top: 45%;
    bottom: 45%;
    left: 46.5%;
}

.draft-beer-video video{
    margin: auto;
    display: flex;
    justify-content: center;
}
/* 首頁影片區結束 */

/* 食物卡片區開始 */
.food{
    width: 100%;    
    margin: auto;
    display: flex;
    justify-content: center;
}
.food h2{
    color: #B28850;
    margin: 50px 0;
    text-align: center;
    font-size: 28px;
    letter-spacing: 10px;
    text-shadow: 3px 3px 10px #000;
}

.food-card-container{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
}

.food-card a{
    text-decoration: none;
}

.food-card{
    box-sizing: border-box;
    width: 300px;   
    height: 300px;
    margin: 18px;
    border-radius: 2%;
    border: 5px solid #B28850;
    position: relative;
    transition: 1s;
}

.food-card::after{
    content: '';
}

.food-card:hover{
    transform: scale(1.2);
    text-shadow: 3px 3px 10px #000;
}

.food-card .card-txt{
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    line-height: 1.5;
    text-align: center;
}

.food-card:hover .card-txt{
    color: #fa0;
    text-shadow: 3px 3px 10px #000;
}

.food-card .card-pic img{
    width: 100%;
    transform: scale(1);
}

.food-card .tag{
    width: 280px;
    height: 15px;
    font-size: 16px;
    color: #fff;
    position: absolute;
    bottom: 5px;
    left: 5px;
    text-align: center;
}
.food-card:hover .tag{
    color: #FFE75F;
    text-shadow: 3px 3px 10px #000;
}

    /* 食物卡片區按鈕開始 */
.food-card-container .food-arrow{
    width: 50px;
    height: 50px;
    }
    
.food-arrow .food-arrow-left,
.food-arrow .food-arrow-right{
    position: absolute;
    color:#B28850;
}

.food-arrow .food-arrow-left{
    top:45%;
    left: 5%;
}

.food-arrow .food-arrow-right{
    top:45%;
    right: 4.5%;
}

.food-arrow-left .fa-solid,
.food-arrow-right .fa-solid{
    font-size: 50px;
}
    /* 食物卡片區按鈕結束 */

    /* 底部知識區開始 */
article{
    width: 55%;
    margin: auto;
}
article h2{
    width: 100%;
    color: #B28850;
    margin: 50px 0;
    text-align: center;
    font-size: 28px;
    letter-spacing: 10px;
    text-shadow: 3px 3px 10px #000;
}
article .beer-know{
    border: 5px ridge #b28850 ;

}
.top-know,
.bottom-know{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}
.top-know{
        padding:10px 0;
        margin: 10px 0;
        border-bottom: 2px dashed #b28850 ;
}
.bottom-know{
    flex-direction: row-reverse;
}

.top-know .txt,
.bottom-know .txt{
    width: 500px;
    color:#fff;
}

.top-know .txt h3,
.bottom-know .txt h3{
    color: #FFE75F;
    font-size: 22px;
    letter-spacing: 2.2px;
    margin: 5px 10px;
    text-shadow: 3px 3px 10px #000;
}

.top-know .txt p,
.bottom-know .txt p{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
    margin: 5px 10px;
}
.know-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.know-btn .btn a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    height: 20px;
    margin: 15px 0;
}
.know-btn .btn a:hover{
    color: #FFE75F;
}
/* 底部知識區結束 */