.body,html{
    background-image: url(../images/web_bg.jpg);
    height: 100%;
    position: relative;
}

/* 漢堡選單開始 */
.burger-container{
    background-color: transparent;
    width: 40px;
    height: 40px;
    margin-top: 2.5%;
    margin-left: 50%;
    margin-left: 95%;
    border-radius: 25%;
    position: fixed;
    z-index: 1;
}

.burger-container .btn-open{
    position: relative;
    right: 40px;
    top: -30px;
    color: #fff;
    z-index: 1;
}

.burger{
    width: 40px;
    height: 40px;
    background-color: #B28850;
    margin: auto;
    position: relative;
    border-radius: 25%;
    z-index: 1;
}

.burger span{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    margin-bottom: 0;
    transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
    position: relative;
    transform: translate(5px,8px);
    inset: 0;
}

.burger span:nth-child(2),
.burger span:nth-child(3){
    margin-top: 7px;
}

#menu{
    display: none;
}

#menu:checked + .menu-list{
    width: 15px;
    height: 15px;
}

#menu:checked + label .burger span:nth-child(1){
    transform: translate(5px,12px) rotate(135deg);
    top: 5px;
    transition: top .3s ease-in-out, transform .3s ease-in-out ;
}

#menu:checked + label .burger span:nth-child(2){
    display: none;
}

#menu:checked + label .burger span:nth-child(3){
    transform: translate(5px,12px) rotate(-135deg);
    top: -4px;
    transition: top .3s ease-in-out, transform .3s ease-in-out ;
}

header .menu-list {
    background-image: url(../images/menubg.jpg);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: scaleY(0);
    transition: transform .3s ease-in-out;
    transform-origin: 50% 0;
}

header .menu-list a{
    text-decoration: none;
    font-size: 28px;
    line-height: 3;
    color: #fff;    
}

header .menu-list a:hover{
    color: #b28850;
}

header .menu-list .menu-logo{
    position: relative;
    right: 300px;
    top: 250px;
}

#menu:checked ~ .menu-list {
        transform: scaleY(1);
    }

/* 漢堡選單結束 */

/* 立即訂位開始 */
.booking-btn{
    position: fixed;
    right: 3%;
    top: 60%;
    z-index: 1;
}
.booking-btn img{
    width: 50px;
    height: 50px;
    animation: booking 3s ease infinite alternate;
}

.booking-btn a{
    width: 50px;
    text-decoration: none;
    color: #fff;
    writing-mode: vertical-lr;
    letter-spacing: 5px;
    text-shadow: 5px 5px 5px #b28850;
}

.booking-btn a:hover{
    font-size: 18px;
}
@keyframes booking{
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(90deg);
    }  
    100%{
        transform: rotateY(180deg);
    }
    }
/* 立即訂位結束 */

    /* 頂端logo與購物車開始 */
.top .logo {
    position: absolute;
    top: .5%;
    left: 10px;
    width: 200px;
    height: 100px;
    }

.top .shopping-cart{
    position: absolute;
    right: 10%;
    top:5%;
    }
    /* 頂端logo與購物車結束 */

    /* 地址區開始 */
article{
    width: 100%;
}

article h1{
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-weight:bloder;
    letter-spacing: 5px;
    text-align: center;
    margin: 50px 0 ;
    text-shadow: 15px 15px 10px #000;
}

.miuking,.miuqueen{
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    overflow: hidden;
    margin: 30px auto;
    box-shadow: 3px 3px 9px #000;
}

.miuking .pic,
.miuqueen .pic{
    border: 2px solid #b28850;
    width: 600px;
    height: 400px;
}

.miuking .pic img,
.miuqueen .pic img{
    width: 100%;
    height: 100%;
}

.miuking .txt,
.miuqueen .txt{
    width: 600px;
    color:#000;
    background-color: #b28850;
}

.miuking .txt h2,
.miuqueen .txt h2{
    color: #fff;
    font-family: Microsoft JhengHei;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 15px 0 40px 10px;
    text-shadow: 3px 3px 10px #000;
}

.miuking .txt address,
.miuqueen .txt address{
    font-family: Microsoft JhengHei;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 1px;
    margin: 5px 10px;
}

.miuking .txt p,
.miuqueen .txt p{
    font-family: Microsoft JhengHei;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 1px;
    margin: 5px 10px;
}
    /* 地址區結束 */

    /* footer開始 */
footer {
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 175px;
    background-image: url(../images/footer.svg);
    display: flex;
    justify-content: space-evenly;
    font-family: Microsoft JhengHei;
}
.footer-pic img {
    width: 170px;
    bottom: 0px;
    top: 10px;
    position: absolute;
    display: block;
    margin-right: 50px;
}

.footer a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 100px;
    margin: 0px 20px;
    font-size: 20px;
    font-style: normal;
}

.footer ul li {
    display: inline;
}

.footer ul li:nth-child(1) {
    margin-left: 60px;
}

.footer-icon {
    width: 300px;
    margin: 10px 0;
    position: relative;
    top: 20px;
    bottom: 20px;
    left: 20px;
}

.footer-icon span {
    color: #fff;
    font-family: Microsoft JhengHei;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    right: 85px;
    bottom: 120px;
}

.footer-icon .facebook {
    position: relative;
    bottom: 5px;
    font-size: 25px;
}

.footer-icon .instagram {
    position: relative;
    top: 10px;
    font-size: 25px;
}

.warning-box {
    width: 100%;
    height: 75px;
    bottom: 0;
    position: fixed;
    background-image: url(../images/footerbeer.svg);
    background-size: cover;
}

.warning-box-txt {
    width: 100%;
    position: relative;
    text-align: center;
}

.warning-box p {
    color: #eee;
    position: absolute;
    top: 20px;
}

.warning-box .tibame {
    width: 300px;
    right: 10px;
    top: 5px;
    bottom: 5px;
    line-height: 1.5;
}

.warning-box .drink {
    font-size: 50px;
    left: 15%;
    right: 15%;
}

.warning-box .drink span {
    color: fff;
    font-weight: bolder;
}

.footer a:hover {
    color: #b28850;
}

.footer-icon a {
    color: #fff;
}

.footer-icon a:hover {
    color: #b28850;
}
/* footer結束 */