    /* 地址區開始 */
article{
    max-width: 100%;
}

article h1{
    color: #FFF;
    font-size: 6.25rem;
    font-weight:bloder;
    letter-spacing: 5px;
    text-align: center;
    margin: 50px 0 ;
    text-shadow: 15px 15px 10px #000;
}

.miuking,
.miuqueen{
    max-width: 1000px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    overflow: hidden;
    margin: 30px auto;
    box-shadow: 3px 3px 9px #000;
}

.miuking .pic,
.miuqueen .pic{
    border: 2px solid #b28850;
    max-width: 600px;
    max-height: 400px;
}

.miuking .pic img,
.miuqueen .pic img{
    width: 100%;
    height: 100%;
}

.miuking .txt,
.miuqueen .txt{
    max-width: 500px;
    padding: 0 10px;
    color:#000;
    background-color: #b28850;
}

.miuking .txt h2,
.miuqueen .txt h2{
    color: #fff;
    font-size: 1.75rem;
    letter-spacing: 2px;
    margin: 15px 0 30px 10px;
    text-shadow: 3px 3px 10px #000;
}

.miuking .txt address,
.miuqueen .txt address{
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 1px;
    margin: 5px 10px;
}

.miuking .txt p,
.miuqueen .txt p{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    margin: 5px 10px;
}

    /* 地址區結束 */

@media screen and (max-width:1024px){

    article h1 {
        padding: 20px;
        font-size: 3rem;
        margin: 10px 0;
    }
    
    .miuking,
    .miuqueen{
        padding: 20px;
        margin: 5px 0;
        box-shadow: 0px 0px 0px #000;
    }

    .miuking .pic,
    .miuqueen .pic{
        width: 66%;
    }
    
    .miuking .txt h2,
    .miuqueen .txt h2{
        align-self: center;
    }
}

@media screen and (max-width:767px) {

    article h1 {
        padding: 20px;
        font-size: 3rem;
        margin: 10px 0;
    }

    .miuking,
    .miuqueen{
        flex-direction: column;
        padding: 20px;
        margin: 5px 0;
        box-shadow: 0px 0px 0px #000;
    }

    .miuking .pic,
    .miuqueen .pic{
        width: 99%;
    }

    .miuking .txt h2,
    .miuqueen .txt h2{
        align-self: center;
    }
}
