    /* 地址區開始 */
article{
    width: 100%;
}

article h1{
    color: #FFF;
    font-size: 100px;
    font-weight:bloder;
    letter-spacing: 5px;
    text-align: center;
    margin: 50px 0 ;
    text-shadow: 15px 15px 10px #000;
}

.miuking,.miuqueen{
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    overflow: hidden;
    margin: 30px auto;
    box-shadow: 3px 3px 9px #000;
}

.miuking .pic,
.miuqueen .pic{
    border: 2px solid #b28850;
    width: 600px;
    height: 400px;
}

.miuking .pic img,
.miuqueen .pic img{
    width: 100%;
    height: 100%;
}

.miuking .txt,
.miuqueen .txt{
    width: 600px;
    color:#000;
    background-color: #b28850;
}

.miuking .txt h2,
.miuqueen .txt h2{
    color: #fff;
    font-size: 28px;
    letter-spacing: 2px;
    margin: 15px 0 30px 10px;
    text-shadow: 3px 3px 10px #000;
}

.miuking .txt address,
.miuqueen .txt address{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    margin: 5px 10px;
}

.miuking .txt p,
.miuqueen .txt p{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    margin: 5px 10px;
}
    /* 地址區結束 */