/* 頂端banner與文字開始 */
.top{
    width: 100%;
    height: 450px;
    background-image: url(../images/news_bg.jpg);
    background-size: cover;
    position: relative;
}

.top-mask{
    background-color: #0008;
    width: 100%;
    height: 450px;
    position: absolute;
}

.top .top-mask span{
    display: block;
    color: #fff;
    font-size: 30px;
    padding: 200px 100px;
    animation: lights 5s 750ms linear infinite;
}
    /* 頂端banner與文字結束 */
    /* 標題區開始 */
.news-mask{
    background: rgba(217, 217, 217, 0.51);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
    
.news-mask h1{
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke:3px rgba(0, 0, 0, 0.13);
    margin: auto;
    letter-spacing: 2px;
    position: relative;
}
.news-mask span{
    color: #000;
    font-size: 22px;
    position: absolute;
    left: 20%;
    top: 30%;
    margin: auto;
}

@keyframes lights {
    0% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
    0 0 0.125em hsla(320, 100%, 60%, 0.3),
    -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
    1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    30% { 
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
    0 0 0.125em hsla(320, 100%, 60%, 0.5),
    -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 02),
    0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    40% { 
    color: hsl(230, 100%, 95%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
    0 0 0.125em hsla(320, 100%, 90%, 0.5),
    -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 02),
    0.25em 0.125em 0.125em hsla(200, 100%, 60%, 04);
    }
    70% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
    0 0 0.125em hsla(320, 100%, 60%, 0.5),
    0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
    -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 04);
    }
    100% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
    0 0 0.125em hsla(320, 100%, 60%, 0.3),
    1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
    -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
}
    /* 標題區結束 */
    /* 卡片區開始 */
.news-card-container{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    content: '';
}

.news-card{
    width: 350px;
    height: 350px;
    box-sizing: border-box;
    border: 1px solid #b28850;
    margin: 20px 20px 20px 0;
    position: relative;
}

.news-card a{
    font-size: 18px;
    line-height: 1.5;
    margin: auto;
    text-decoration: none;
}


.news-card a span{
    display: block;
    position: relative;
    padding: 5px;
    text-align: center;
    display: none;
    bottom: 20%;
    width: 97%;
    height: 15%;
    display: block;
    margin: auto;
    color: #fff;   
    background-color: #0008;
}

.news-card:hover a span{
    color: #ffe75f;
}

.news-card img{
    width: 100%;
    height: 100%;
}

.news-card .hot,
.news-card .new{
    width: 70px;
    height: 25px;
    position: absolute;
    top: 3%;
    left: -3%;
    transform: rotate(-45deg);
    box-shadow: 3px 3px 10px #000;
}

.news-card .hot{
    background-color: #d00;
}

.news-card .new{
    background-color: #060;
}

.news-card .hot span,
.news-card .new span{
    display: block;
    color: #fe0;
    padding: 2px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
    /* 卡片區結束 */