    /* 頂部標題開始 */
.top{
    max-width: 1200px;
    margin: auto;
}
    
.top h1{
    color: #FFF;
    font-size: 100px;
    font-weight:bloder;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 30px;
    text-shadow: 15px 15px 10px #010000;
}
    /* 頂部標題結束 */
    /* 卡片區開始 */
.news-card-container{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    content: '';
}

.news-card{
    width: 350px;
    height: 350px;
    box-sizing: border-box;
    border: 1px solid #b28850;
    margin: 20px 20px 20px 0;
    position: relative;
}

.news-card a{
    font-size: 18px;
    line-height: 1.5;
    margin: auto;
    text-decoration: none;
}


.news-card a span{
    max-width: 97%;
    height: 15%;
    color: #fff;   
    background-color: #0008;
    display: block;
    margin: auto;
    padding: 5px;
    text-align: center;
    position: relative;
    bottom: 20%;
}

.news-card:hover a span{
    color: #ffe75f;
}

.news-card:hover{
    box-shadow: 10px 10px 10px #000;
}

.news-card img{
    width: 100%;
    height: 100%;
}

.news-card .hot,
.news-card .new{
    width: 70px;
    height: 25px;
    position: absolute;
    top: 3%;
    left: -3%;
    transform: rotate(-45deg);
    box-shadow: 3px 3px 10px #000;
}

.news-card .hot{
    background-color: #d00;
}

.news-card .new{
    background-color: #060;
}

.news-card .hot span,
.news-card .new span{
    display: block;
    color: #fe0;
    padding: 2px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
    /* 卡片區結束 */


/* RWD */
@media screen and (max-width:768px) {
    .top h1 {
        padding: 20px;
        font-size: 48px;
        margin: 10px 0;
        }

    .news-card-container{
        min-width: 100%;
        margin: 0 auto 20px;
    }
    
    .news-card{
        min-width: 20%;
        overflow-y: hidden;
        margin: 10px;
    }

    .news-card a{
        font-size: 18px;
        line-height: 1.25;
        margin: auto;
        text-decoration: none;
    }

    .news-card a span{
        max-width: 100%;
        bottom: 17%;
    }

}
