    /* 內文區開始 */
article{
    width: 100%;
    position: relative;
}

article h1{
    color: #fff;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 8.4px;
    display: flex;
    justify-content: center;
    margin:50px 0 0 0;
    text-shadow: 3px 3px 10px #000;

}

article .tag{
    color: #fff;
    position: absolute;
    left: 34.5%;
    top: 8.5%;
    margin-bottom: 10px;
}

article .news-container{
    width: 600px;
    height: 600px;
    margin: 50px auto 30px auto;
    border: 2px solid #b28850;
    box-sizing: border-box;
}
.news-container .pic img{
    width: 100%;
}

.news-container .txt{
    margin-top: 10px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 2.2px;
    padding: 10px;
}

.back-btn a{
    text-decoration: none;
    color: #fff;
    position: absolute;
    left: 30%;
    bottom:-10%;
    margin-bottom: 45px;
}
.back-btn a:hover{
    color: #FFE75F;
}

    /* 內文區結束 */