/* 內容區開始 */
.banner{
    margin-bottom: 30px;
}
.banner .pic img{
    width: 100%;
    vertical-align: top;
}

.banner .txt{
    background-color: #0008;
    position: absolute;
    top:35%;
    left: 0;
    width: 100%;
}
.banner .txt p{
    color: #fff;
    font-size: 48px;
    margin: auto;
    text-align: center;
    padding: 20px;
}
.description{
    width: 50%;
    padding: 20px;
    margin: auto;
    border: 3px dashed #fff;
}

.description p{
    color: #fff;
    text-align: center;
    margin: 5px;
}

.description a{
    text-decoration: none;
    color: #b28850;
    font-size: 18px;
}
.food-card-container{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
}
.food-card-container .card{
    width: 280px;
    box-sizing: border-box;
    background-color: #B7B8BD;
    border-radius: 15px;
    margin: 10px;
}

.food-card-container .pic img{
    width: 100%;
    vertical-align: top;
    border-radius: 15px 15px 0 0;
}
.food-card-container .card .txt{
    margin: 10px;
    border-bottom: 1px solid #555;
}
.food-card-container .card .txt h2{
    color: #333;
    font-weight: bold;
    margin-bottom: 3px;
}
.food-card-container .card .txt span{
    display: block;
    color: #444;
    padding-bottom: 5px;
}
.food-card-container .card .btn {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.food-card-container .card .btn .fa-dollar-sign span{
    padding-left: 5px;
    color: #e00;
}

.food-card-container .card .btn .fa-circle-minus{
    color: #666;
}

.next-btn{
    background-color: #b28850;
    width: 40px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #000;
}

.next-btn a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}